@if (appInitialized) {
<img class="pokemon-heading" src="../pokemon-app/assets/pokemon-heading.png" alt="Pokemon-heading">
<kendo-appbar class="appbar">
  <img class="pokeball" src="../pokemon-app/assets/pokeball.png" alt="Pokeball">
  <kendo-appbar-section>
    <ul>
      <li><button type="button" routerLink="/dashboard" routerLinkActive="active activatedLink"
          [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">Dashboard</button></li>
      <li><button type="button" routerLink="/list-card" routerLinkActive="active activatedLink"
          [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">Pokemon overview</button></li>
    </ul>
  </kendo-appbar-section>
</kendo-appbar>
<router-outlet />
}